@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Roboto Mono;
}
body{
    background: url(assets/background2.jpg);
}

div.container{
   width: 100%;
   max-width: 588px;
   margin: 56px auto;

   padding: auto 24px;

   
}


/* Profile */

.profile{
    text-align: center;
    color: white;
}

.profile img{
    width: 112px;
}

.profile p{
    margin: 0px auto 50px;
}




/* Links */

ul.social-media{
   display: flex;
   flex-direction: column;
   gap: 2em;
   margin-top: 20px;

   list-style: none;
   
}

ul.social-media li a{
    display: flex;
    justify-content: center;
    padding: 16px 24px;

    background: rgba(255, 255, 255, 0.178);
    color: white;
    font-size: 1.2em;
    


    text-decoration: none;
    
}

ul.social-media li a:hover{
    background-color: rgba(255, 255, 255, 0.226);
    border: 0.5px solid rgba(255, 255, 255, 0.397);
}

.links ul{
   display: flex;
   gap: 20px;
   justify-content: center;
}

.links ul li{
    color: rgb(0, 0, 0);
    font-size: 1.5em;


    list-style: none;
    font-family: Fugaz One;
}

