@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
*{
    margin: 0px;
    font-family: Comfortaa;
    box-sizing: border-box;
}

body{
    background: url(assets/background.jpg) no-repeat top center/cover;
}
/*  */
#container{
    display: block;
    width: 588px; 
    height: 100vh; 
    margin: auto;
}

#profile{
    width: 390px;
    margin: auto;
    /* border: 1px solid red; */
}

p.user{
    text-decoration: none;
    margin: 20px auto;
    width: min-content;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.781);  
}

#profile img{
    display: block;
    width: 112px;
    margin: auto;
      
}




div#mediaLinks{
    display: flex;
    /* border: 1px solid red;  */
    align-items: center;
    flex-direction: column;  
    gap: 16px;
    padding: 30px;
}
div#mediaLinks button{
    background-color: rgba(255, 255, 255, 0.089);
    border: none;   
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.356);
    height: 45px;
    width: 588px;
}

div#mediaLinks button:hover{
    background-color: rgba(255, 255, 255, 0.233);
    border-color: rgba(3, 3, 3, 0.432);
    transition: 0.9s ;
}



div#mediaLinks a{
    display: block;
    padding: 2px;
    font-size: 16px;
    color: rgba(251, 251, 252, 0.767);
    text-decoration: none;    
}

footer.icons{ 
    display: flex; 
    color: rgba(255, 255, 255, 0.575);
    width: max-content;
    margin: 450px 0px 0px 250px;  
}